# Files
*.json
.DS_store
data/.DS_store
go_api/.DS_store
pages/.DS_store

# Folders
testing/
.github/
locations-api/

# Cache
./__pycache__
data/__pycache__
data/teams/__pycache__
pages/__pycache__

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/