# HTTP
requests==2.29.0

# Numbers and graphs or visualizations.
numpy==1.24.3
plotly==5.15.0
streamlit==1.25.0

# Data and databases
pandas==1.4.2
pyarrow==12.0.1
prefect==2.11.0
SQLAlchemy==2.0.20
pandas-gbq==0.19.2
psycopg2-binary==2.9.6
pandas-stubs==2.0.2.230605


# Google Cloud
firebase-admin==6.2.0
google-cloud-core==2.3.3
google-cloud-bigquery==3.11.4
google-cloud-firestore==2.11.0
google-cloud-secret-manager==2.16.3

# Checks
bandit==1.7.5
black==23.7.0
isort==5.12.0
mypy==1.4.1
ruff==0.0.282