# These libraries are used ONLY for the Streamlit app.
# The 'project_requirements.txt' file contains ALL the libraries used for the entire project (Streamlit app, ETL scripts, etc.)
# This is to make the Docker image as small as possible and reduce security issues.

pillow==10.0.1

# Numbers and graphs or visualizations.
numpy==1.26.1
plotly==5.17.0
streamlit==1.28.0

# Data and databases
pandas==1.4.2

# Google Cloud
firebase-admin==6.2.0
google-cloud-core==2.3.3
google-cloud-bigquery==3.11.4