/* Styling Streamlit app */
table tr:nth-child(1) {
    color: green;
}

table tr:nth-child(2) {
    color: green;
}

table tr:nth-child(3) {
    color: green;
}

table tr:nth-child(4) {
    color: green;
}

table tr:nth-child(5) {
    color: blue;
}

table tr:nth-child(18) {
    color: red;
}

table tr:nth-child(19) {
    color: red;
}

table tr:nth-child(20) {
    color: red;
}